/* customSliderStyles.css */
.slick-prev, .slick-next {
  width: 30px; /* Smaller width */
  height: 30px; /* Smaller height */
  z-index: 1;
  position: absolute;
  bottom: 50px; /* Position at the bottom */
  font-family: "Mountains of Christmas";
}

.slick-prev:before, .slick-next:before {
  font-size: 30px; /* Smaller font size */
  color: #ce93d8; /* Set to purple[200] */
}

.slick-prev:before {
  content: '◀'; /* Custom left arrow */
}

.slick-next:before {
  content: '▶'; /* Custom right arrow */
}

.slick-prev {
  left: 10px; /* Position to the left */
}

.slick-next {
  right: 10px; /* Position to the right */
}

